.btn .caret{
    line-height: 35px;
}
.dropdown-menu > li > a {
    padding: 10px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #333333;
    white-space: nowrap;
}
.btn-group.show .dropdown-toggle {
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
.show > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    border-radius: 3px;
    overflow: inherit;
    padding: 0;
    overflow: hidden;
    border-width: 2px;
    min-width: 180px;
    color: #333333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.dropdown-menu li:hover > a {
    background: #c8e9e6;
}
.dropdown-menu > li > a > i, .dropdown-menu > li > a > img {
    margin-right: 10px;
}

.text-semibold {
    font-weight: 500;
}
.page-title i {
    margin-right:5px
}
.relogin {
    position: absolute;
    z-index: 1111;
    right: 28px;
    top: 75px;
}
.action {
    height: 40px;
    line-height: 34px;
}
/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    filter: opacity(0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: auto;
    border-radius: 3px;
    background-color:$gest;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid $gest;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
     filter: opacity(100);
    opacity: 1;
}
#email-settings {
    overflow-y: scroll;

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

   &::-webkit-scrollbar-thumb
    {
        background-color:$gest;
    }

    .settings-close{
        color: #7b0b07;
    }
}
@media(max-width: 768px) {
    .settings-panel {
        right: -85vw;
        width: 85vw;

    }
}
@keyframes stretch {
    0% {
        transform: scale(0.5);
        background-color: #B5DDF0;
    }
    50% {
        background-color: #CFE9F6;
    }
    100% {
        transform: scale(1);
        background-color: #FFFFFF;
    }
}

.evolve_btn.evolve_btn--loading {
    font-size: 0;
    padding: 13px 16px;
}
.evolve_btn.evolve_btn--loading span {
    display: flex;
}
.evolve_btn.evolve_btn--loading span b {
    animation-direction: alternate;
    animation-duration: .5s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: stretch;
    animation-play-state: running;
    animation-timing-function: ease-out;
    border-radius: 100%;
    display: block;
    height: 10px;
    margin: 0 1px;
    width: 10px;
    animation-delay: .1s;
    margin: 0 5px;
}
.evolve_btn.evolve_btn--loading span b:first-child {
    animation-delay: 0s;
    margin: 0;
}
.evolve_btn.evolve_btn--loading span b:last-child {
    animation-delay: .2s;
    margin: 0;
}
.evolve_btn b {
    font-weight: normal;
}
.evolve_btn span {
    display: none;
}
.navbar.default-layout-navbar .navbar-menu-wrapper {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.13);
}
.select2-container.select2-container--default {
    width: 100% !important;
    .select2-selection--multiple {
        .select2-selection__choice {
            font-size: 14px;
            padding: 5px !important;
        }
    }
}

.theme--light.v-application {
	background: none;
}
.v-menu__content {
	margin-top: 60px;
}
.v-messages, .v-text-field__details {
	min-height: 0;
}
.v-text-field__details {
	margin-bottom: 0 !important;
}
span.gcount {
	position: absolute;
	width: 20px;
	height: 17px;
	font-size: 14px;
	line-height: 20px;
}
.v-dialog__content.v-dialog__content--active {
	 z-index: 10000 !important;
}
.v-overlay.v-overlay--active {
	z-index: 9999 !important;
}
.box-block{
    overflow: hidden;
    iframe{
        margin-top: -63px;
    }
}
// login style

.authback .g-row .auth-left {
	height: 100%;
	background: red;
	display: block;
}
.authback > .g-row {
	width: 800px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.authback {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-image: url(/images/auth/login-back.jpg);
	background-size: cover;
}
.authback > .g-row > * {
	position: relative;
}
.authback > .g-row::before {
	content: "";
	display: block;
	position: absolute;
	top: calc(-50vh + 50%);
	left: calc(-50vw + 50%);
	width: 100vw;
	height: 100vh;
	z-index: 0;
	background-image: url(/images/auth/login-back.jpg);
	background-size: cover;
	-webkit-filter: blur(20px);
	filter: blur(10px);
}
.authback > .g-row {
	width: 900px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	z-index: 2;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	max-width: 100%;
}

.auth-right .brand-logo {
	text-align: center;
	margin-top: 30px;
}
.auth-right {
	background: white;
}
.auth-right::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 100%;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: white white transparent transparent;
	border-width: 20px;
}
.authback > .g-row > div {
	width: 50%;
}
@media all and (max-width: 900px) {
	.auth-left {
		width: 30%;
	}
	.authback > .g-row {
		width: 700px;
	}
}
@media all and (max-width: 767px) {
	.authback > .g-row {
		flex-direction: column;
	}
	.authback > .g-row > div {
		width: 100%;
	}
	.auth-right::before {
		display: none;
	}
	.authback > .g-row {
		width: 500px;
	}
}
